@use "utils" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%; //default 16px
}

body {
  min-height: 100vh;
  font-family: var(--font-inter);
  background-color: var(--col-bg);
}
